body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}

.navbar {
  background:#6ab446;
}
.nav-link,
.navbar-brand {
  color: #fff;
text-indent: 1em;
}
.navbar-brand:hover {
  color: #fff;
cursor: default;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.page-footer:hover {
cursor: default;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}